.header {
    background-color: var(--secondary-color);
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.logo-box {

}

.header-logo {
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
}

.main-nav {

}

.main-nav ul {
    display: flex;
    list-style: none;
}

.main-nav ul li {
    margin: 1rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #dbb4b4;
}